.card {
  font-size: 1rem;
  background-color: rgb(152, 193, 212);
  border-radius: 25px;
  color: white;
  display: grid;
}

.card__portrait {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  width: 50vw;
  object-fit: cover;
}

.card__status {
  text-align: center;
}

.info__name {
  text-align: center;
  font-size: 25pt;
  font-weight: bold;
}

.info__species {
  font-size: 1rem;
  padding-left: 20px;
}

.info__origin {
  font-size: 1rem;
  padding-left: 20px;
}
