.card {
  padding: 40px;
  font-size: 1rem;
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  border: 2px solid lightblue;
  border-radius: 25px;
  color: white;
  display: grid;
}

.card__portrait {
  border-radius: 25px;
  object-fit: cover;
}

.card__status {
  text-align: center;
}

.info__name {
  text-align: center;
  font-size: 25pt;
  font-weight: bold;
}

.info__species {
  font-size: 1rem;
  padding-left: 20px;
}

.info__origin {
  font-size: 1rem;
  padding-left: 20px;
}

.container {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  justify-content: center;
}
